alembic==1.10.2
asttokens==2.2.1
black==23.1.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
dnspython==2.3.0
executing==1.2.0
Flask==2.2.3
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
friendly==0.7.20
friendly-styles==0.2
friendly-traceback==0.7.61
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
mypy-extensions==1.0.0
mysqlclient==2.1.1
packaging==23.0
pathspec==0.11.1
platformdirs==3.1.1
pure-eval==0.2.2
Pygments==2.14.0
pymongo==4.3.3
PyMySQL==1.0.2
rich==13.3.2
six==1.16.0
SQLAlchemy==2.0.7
stack-data==0.6.2
tomli==2.0.1
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.2.3
WTForms==3.0.1
