<!DOCTYPE html>
<html lang="ru" data-theme="light">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/pico.min.css" />
    <title>dev - PBN</title>
  </head>

  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <a href="./" class="contrast"><strong>PBN</strong></a>
        </li>
      </ul>
      {% include "popup.html" %}
    </nav>
    <header class="container-fluid">
      <hgroup>
        <h1>PBN</h1>
        <p>Сайт помощи в проектной деятельности</p>
        <p>Предуниверситарий НИЯУ МИФИ Лицей № 1523</p>
      </hgroup>
      <!-- <p><a href="/signup" role="button">Регистрация</a></p> -->
      <br />
      <section>
        <article>
          <header>
            <h3>Причина создания сайта</h3>
          </header>
          <p>
            Этот сайт был создан в помощь остальным в создании их проектов. На
            базе этого сайта будет создана взаимосвязь между ЦТПО и лицеистами.
            Таким образом ученики смогут запрашивать помощь по разным причинам,
            например: печать деталей, оборудование электроникой, помощь с
            технической частью и прочее
          </p>
        </article>
      </section>
      <section>
        <article>
          <header>
            <h3>Развитие платформы</h3>
          </header>
          <p>
            Всё ещё впереди! На данный момент планируется добавить форум,
            рейтинг пользователей, внутресайтовые переписки и многое другое!
            Этот сайт был создан в помощь остальным в создании их проектов. На
            базе этого сайта будет создана взаимосвязь между ЦТПО и лицеистами.
            Таким образом ученики смогут запрашивать помощь по разным причинам,
            например: печать деталей, оборудование электроникой, помощь с
            технической частью и прочее
          </p>
        </article>
      </section>
      <section>
        <article>
          <header>
            <h2>Обратная связь</h2>
          </header>
          Оставляйте свои отзывы, комментарии и предложения. Сайт будет
          развиваться в течении времени с добавлением предложенных функций,
          исправлением возникших проблем и работой над улучшением взаимодействия
          между пользователем и сотрудником ЦТПО
        </article>
      </section>
    </header>
  </body>
</html>
