<!DOCTYPE html>
<html lang="ru" data-theme="light">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/pico.min.css" />
  </head>

  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <a href="./" class="contrast"><strong>PBN</strong></a>
        </li>
      </ul>
      {% include "popup.html" %}
    </nav>
    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
            <h1>Восстановление</h1>
            <h2>Восстановить доступ к аккаунту</h2>
          </hgroup>
          <form>
            <label for="login"
              >Email
              <input
                type="email"
                id="email"
                name="email"
                placeholder="email"
                required
              />
            </label>
            <p>
              Еще нет аккаунта?
              <a class="secondary" href=" {{ url_for('signup') }} "
                >Регистрация</a
              >
            </p>
            <div class="grid">
              <div class="container-fluid">
                <!-- <h3><mark>Неверные данные</mark></h3> -->
              </div>
            <button type="submit" class="contrast">Восстановить</button>
          </div>
          </form>
        </div>
      </article>
    </main>
  </body>
</html>
